# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
.env/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDE / editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS metadata
.DS_Store

# Python test output
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Local project settings
instance/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
